<!DOCTYPE html>
<html>
<head>
  <title>Radish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>
<nav>
  <div class="nav-wrapper">
    <class="brand-logo right">
   <i class="material-icons">loyalty</i>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    <% if user_signed_in? %>
      <li><%= link_to 'Submit link', new_link_path %></li>
      <li><%= link_to 'Account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    </ul>
    <% end %>
  </div>
</nav>
<%= yield %>
 <footer class="page-footer">
  <div class="container">
    WILD SOS © 2015 Copyright Text
    </div>
  </footer>

</body>
</html>
